*{
  font-family: Arial, Helvetica, sans-serif; 

} 

.todogrid,.todoinputgrid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.todoinputgrid{
    margin-bottom: 10px;
    align-items: stretch;
}

.jsinput,.jsdate{
    font-size: 15px;
    padding: 6px;
}

.jsbutton{
    background-color: green;
    color: aliceblue;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.delbutton{
    background-color: darkred;
    color: aliceblue;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}